@use "./variables" as *;

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $backgroundColor;
  font-family: "Yanone Kaffeesatz", sans-serif;
  .home,
  .about,
  .projects,
  .contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    animation: fadeIn 1.2s;
  }
  .wrapper {
    max-width: 1920px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  .replaceMain {
    display: none;
  }
  .smallerScreenSkills {
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    color: white;
  }

  20% {
    color: $fontColor;
  }

  30% {
    color: white;
  }

  40% {
    color: $fontColor;
  }

  90% {
    color: $fontColor;
  }

  100% {
    color: white;
  }
}
@keyframes wiggle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    filter: invert(93%) sepia(82%) saturate(234%) hue-rotate(313deg)
      brightness(102%) contrast(98%);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes littleSpinY {
  50% {transform: rotateX(180deg);}
}
@keyframes borderAnim {
  25% {
   border: 2px solid $fontColorLight;
   color: $fontColor;
}}

@keyframes run {
  0% {
    right: 30%;
  }
  48% {
    transform: rotateY(0deg); 
  }
  50% { 
    right: 60%;
    transform: rotateY(180deg); 
  }
  98% {
    transform: rotateY(180deg); 
  }
  100% {
    right: 30%;    
     transform: rotateY(0deg);
  }
}
@keyframes runSmall {
  0% {
    right: 29%;
  }
  48% {
    transform: rotateY(0deg); 
  }
  50% { 
    right: 58%;
    transform: rotateY(180deg); 
  }
  98% {
    transform: rotateY(180deg); 
  }
  100% {
    right: 30%;    
     transform: rotateY(0deg);
  }
}
@keyframes runTwo {
  0% {
    left: 0;
  }

  48% {
    transform: rotateY(0deg);
  }

  50% {
    left: calc(100% - 150px);
    transform: rotateY(180deg);
  }

  98% {
    transform: rotateY(180deg);
  }

  100% {
    left: 0;
    transform: rotateY(0deg);
  }
}