@use "../base/variables" as *;

.homeContainer {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: $fontColor;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .title {
    padding-bottom: 100px;
  }
  h1 {
    position: relative;
    font-size: 90px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 70%;
      right: -25%;
      transform: rotate(120deg);
      width: 140px;
      height: 4px;
      background-color: $fontColor;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 70%;
      right: -20%;
      transform: rotate(120deg);
      width: 140px;
      height: 4px;
      background-color: $fontColor;
    }
  }
  h2 {
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
  }
  .moreAboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    p {
      opacity: 0;
      transition: all 0.5s;
    }
    svg {
      font-size: 70px;
      font-weight: 200;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.4);
      }
      &:hover + p {
        opacity: 1;
      }
    }
  }
}
