@use "../base/variables" as *;

.projectsContainer {
  color: $fontColorLight;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    color: $fontColor;
    font-weight: 400;
    font-size: 40px;
  }
  .projectViewContainer {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      color: $fontColorLight;
    }
    svg {
      font-size: 50px;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
  .projectView {
    width: 70%;
    height: 100%;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
    // p {
    //   text-align: justify;
    // }
  }
  .inProgress {
    font-size: 14px;
    display: block;
  }
  .singleProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    p {
      font-size: 19px;
      // text-align: justify;
      line-height: 25px;
      a {
        color: $fontColor;
        display: inline;
      }
      a:hover {
        color: $fontColorLight;
      }
    }
    h3 {
      font-size: 35px;
      font-weight: 300;
    }
    h4 span {
      color: $fontColor;
    }
  }
  a {
    text-decoration: none;
  }
  .rechartsLink {
    color: $fontColor;
  }
  .linkButtons {
    margin: 25px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    button {
      animation: 0.2s borderAnim 0.3s 4;
      text-decoration: none;
      margin: 0 10px;
      border: 2px solid $fontColor;
      &:hover {
        background-color: $fontColorLight;
        color: $backgroundColor;
      }
    }
  }
  .ashPika {
    position: absolute;
    width: 9%;
    max-width: 9%;
    bottom: 35px;
    right: 480px;
    animation: run 4s infinite linear;
  }
  .wrenchGif {
    position: absolute;
    width: 9%;
    max-width: 150px;
    bottom: 65px;
  }
  .writingGif {
    position: absolute;
    width: 9%;
    max-width: 150px;
    bottom: 65px;
  }
  .weatherSunGif {
    position: absolute;
    width: 9%;
    max-width: 150px;
    bottom: 65px;
  }
  .cerealGif {
    position: absolute;
    width: 9%;
    max-width: 150px;
    bottom: 65px;
  }
  .podcastGif {
    position: absolute;
    width: 33%;
    max-width: 360px;

    // max-width: 150px;
    bottom: 65px;
  }
}
