@media (max-width: 500px) {
  #root .about {
    padding-top: 0;
  }
  .navBar {
    flex-direction: column;
    justify-content: space-between;
    bottom: 10px;
    height: 15%;
    .middleNav {
      width: 90%;
    }
    .rightNav {
      width: 80%;
      justify-content: space-evenly;
    }
  }
  .homeContainer {
    h1 {
      font-size: 80px;
    }
    h1::before,
    h1::after {
      display: none;
    }
  }
  .aboutContainer {
    justify-content: flex-start;
    align-items: flex-start;
    .aboutTop {
      height: 50%;
  
      .aboutText {
        height: 100%;
        p {
          font-size: 16px;
        }
        .skillHobbiesText {
          display: none;
        }
      }
      .aboutImage {
        display: none;
      }
    }
    .aboutSkills {
      height: 30%;
      justify-content: flex-start;
      align-items: flex-start;
      .smallerScreenSkills {
        margin-top: 5px;
        p {
          margin: 5px 5px;
        }
      }
    }
  }
  #root .projects {
    justify-content: flex-start;
    padding-top: 0;
  }
  .projectsContainer {
    justify-content: flex-start;
    h2 {
      display: none;
    }
    .projectView {
      width: 100%;
      padding-bottom: 150px;
      justify-content: flex-start;
      .singleProject {
        justify-content: flex-start;
        height: 80%;
        h3 {
          font-size: 24px;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .projectViewContainer {
      justify-content: flex-start;
      width: 100%;
      .prev{
        bottom: 79%;
        left: 0;
      }
      .next {
        bottom: 79%;
        right: 0;
      }
    }
  }
}
