@use "../base/variables" as *;

@media (max-width: 800px) {
  #root .wrapper {
    width: 95%;
  }
  #root .smallerScreenSkills {
    display: flex;
    p {
      width: calc(100% / 4.5);
      text-align: center;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .homeContainer {
    align-items: flex-start;
    justify-content: center;
    .title {
      width: 90%;
      padding-top: 80px;
    }
    h1 {
      font-size: 110px;
    }
    h1::after {
      display: none;
    }
    h1::before {
      display: none;
    }
  }
  .navBar {
    .leftNav {
      display: none;
    }
    .middleNav {
      width: 50%;
    }
  }
  .aboutContainer .aboutTop {
    flex-direction: column;
    .aboutText {
      width: 100%;
    }
    .aboutImage {
      min-width: 170px;
      display: none;
    }
  }
  .aboutContainer .aboutSkills {
    justify-content: center;
    height: 60%;
    .skillsContainer {
      display: none;
    }
    .smallerScreenSkills {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      p {
        border: 2px solid $fontColor;
        padding: 5px;
        margin: 10px 10px;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          transform: scale(1.5);
        }
      }
      .del {
        border-color: $fontColorLight;
      }
    }
  }
  .projectsContainer {
    .ashPika {
      display: none;
    }
    .wrenchGif {
      display: none;
    }
    .podcastGif {
      display: none;
    }
    .projectViewContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .prev {
        position: absolute;
        left: 5%;
        bottom: 75%;
      }
      .next {
        position: absolute;
        right: 5%;
        bottom: 75%;
      }
      .singleProject p {
        font-size: 16px;
        height: 50%;
        br {
          display: block;
          content: "";
          margin-top: 5px;
        }
      }
    }
    .projectView {
      width: 90%;
    }
  }
}
@media (max-height: 700px) {
  .aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutContainer .aboutSkills {
    display: none;
  }
  .skillHobbiesText {
    display: none;
  }
  .projectsContainer .projectView {
    width: 80%;
  }
}
