@media (max-width: 1000px) {
  #root .wrapper {
    width: 95%;
  }
  .aboutContainer .aboutSkills {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .skillsContainer {
      width: 450px;
      height: 50%;
      min-width: 430px;
      p {
        svg {
          margin: 0 0 12px 0;
          font-size: 40px;
        }
      }
    }
    .hobbies {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 450px;
      min-width: 430px;
      height: 30%;
      p {
        width: 50px;
        svg {
          margin: 20px 0;
          font-size: 40px;
        }
      }
    }
  }
}
