@media (max-width: 350px) {
  #root h1 {
    display: none;
  }
  #root .replaceMain {
    display: block;
    font-size: 120px;
  }
}
@media (max-width: 300px) {
  .aboutContainer .aboutSkills {
    display: none;
  }
  #root .aboutContainer {
    justify-content: center;
  }
}
