@media (max-width: 1400px) {
  .projectsContainer .ashPika {
    bottom: 30px;
    width: 12%;
    max-width: 12%;
  }
}
@media (max-width: 1200px) {
  .projectsContainer .ashPika {
    bottom: 35px;
    width: 12%;
    max-width: 12%;
  }
}
@media (max-width: 1000px) {
  #root .wrapper {
    width: 95%;
  }
  .aboutContainer .aboutText p {
    font-size: 18px;
    line-height: 20px;
  }
  .aboutContainer .aboutSkills {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .skillsContainer {
      height: 100%;
      width: 95%;
      display: flex;
      justify-content: center;
      p {
        margin: 0;
        width: calc(100% / 6);
        font-size: 16px;
        svg {
          margin: 0 0 12px 0;
          font-size: 40px;
        }
      }
    }
  }
  .projectsContainer .ashPika {
    bottom: 41px;
    width: 13%;
    max-width: 13%;
    animation: runSmall 4s infinite linear;
  }
  .projectsContainer .projectView {
    width: 75%;
  }
}
@media (max-width: 1000px) and (max-height: 620px) {
  .projectsContainer .projectViewContainer {
    width: 100%;
    p {
      line-height: 18px;
    }
  }
}
//
