@media (max-width: 500px) {
  #root .about {
    padding-top: 0;
  }
  #root .smallerScreenSkills p {
    width: calc(100% / 3);
  }
  .navBar {
    flex-direction: column;
    justify-content: space-between;
    bottom: 10px;
    height: 15%;
    .middleNav {
      width: 90%;
    }
    .rightNav {
      width: 80%;
      justify-content: space-evenly;
      svg {
        font-size: 26px;
      }
    }
  }
  .homeContainer {
    h1 {
      font-size: 80px;
    }
    h1::before,
    h1::after {
      display: none;
    }
  }
  .aboutContainer {
    justify-content: center;
    align-items: flex-start;
    .aboutTop {
      height: 40%;
      .aboutText {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 16px;
        }
        .skillHobbiesText {
          display: none;
        }
      }
      .aboutImage {
        display: none;
      }
    }
    .aboutSkills {
      justify-content: flex-start;
      align-items: center;
      // margin-bottom: 100px;
      height: 60%;
      .smallerScreenSkills {
        margin-top: 5px;
        height: 70%;
        p {
          margin: 5px 5px;
        }
        .del {
          display: none;
        }
      }
    }
  }
  #root .projects {
    justify-content: center;
    padding-top: 0;
  }
  .projectsContainer {
    justify-content: center;
    h2 {
      display: none;
    }
    .projectView {
      width: 100%;

      justify-content:center;

      .singleProject {
        justify-content: center;
        align-items: center;
        height: 95%;

        h3 {
          font-size: 24px;
        }
        h4 {
          font-size: 14px;
          margin: 10px 0;
        }
        p {
          font-size: 14px;
          margin: 0;
          line-height: 18px;
        }
        .linkButtons {
          margin: 15px 0;
        }
      }
    }
    .projectViewContainer {
      justify-content: center;
      width: 100%;
      .prev {
        bottom: 75%;
        left: 0;
      }
      .next {
        bottom: 75%;
        right: 0;
      }
    }
  }
}

@media (max-height: 600px){
  .projectsContainer .projectView .singleProject p {
    display: none;
  }
  .projectsContainer .projectView {
    padding: 0;
  }
  .projectsContainer .projectViewContainer .next,
  .projectsContainer .projectViewContainer .prev {
    bottom: 130px;
  }
  .projectsContainer .projectView {
    justify-content: center;
  }
  .aboutContainer .aboutSkills {
    display: none;
  }
  .aboutContainer .aboutTop {
    height: 100%;
  }
  .homeContainer .title {
    padding: 0;
  }
  .navBar {
    justify-content: center;
    bottom: 20px;
  }
  .aboutContainer .aboutImage {
    display: none;
  }
  .aboutContainer .aboutTop {
    width: 100%;
  }
  .aboutContainer .aboutText {
    width: 100%;
  }
  .ashPika {
    display: none;
  }
}
@media (max-height: 500px) and (max-width: 800px) {
  .homeContainer h1 {
    font-size: 60px;
  }
}