html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body {
  margin: 0 auto;
  background-color: rgb(36, 36, 35);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(36, 36, 35);
  font-family: "Yanone Kaffeesatz", sans-serif;
}
#root .home,
#root .about,
#root .projects,
#root .contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  animation: fadeIn 1.2s;
  margin-bottom: 50px;
}
#root .wrapper {
  max-width: 1100px;
  width: 90%;
  height: 100%;
  max-height: 800px;
  margin: 0 auto;
}
#root h1,
#root h2,
#root h3 {
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
#root .replaceMain {
  display: none;
}
#root .smallerScreenSkills {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    color: white;
  }
  20% {
    color: rgb(245, 203, 92);
  }
  30% {
    color: white;
  }
  40% {
    color: rgb(245, 203, 92);
  }
  90% {
    color: rgb(245, 203, 92);
  }
  100% {
    color: white;
  }
}
@keyframes wiggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    filter: invert(93%) sepia(82%) saturate(234%) hue-rotate(313deg) brightness(102%) contrast(98%);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes littleSpinY {
  50% {
    transform: rotateX(180deg);
  }
}
@keyframes borderAnim {
  25% {
    border: 2px solid #fdf2d5;
    color: rgb(245, 203, 92);
  }
}
@keyframes run {
  0% {
    right: 30%;
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    right: 60%;
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    right: 30%;
    transform: rotateY(0deg);
  }
}
@keyframes runSmall {
  0% {
    right: 29%;
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    right: 58%;
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    right: 30%;
    transform: rotateY(0deg);
  }
}
@keyframes runTwo {
  0% {
    left: 0;
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    left: calc(100% - 150px);
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    left: 0;
    transform: rotateY(0deg);
  }
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutContainer .aboutTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55%;
}
.aboutContainer .aboutImage {
  width: 20%;
  min-width: 250px;
}
.aboutContainer .aboutImage img {
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  filter: brightness(90%);
}
.aboutContainer .aboutText {
  width: 60%;
  color: #fdf2d5;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  line-height: 25px;
}
.aboutContainer .aboutText p span {
  color: rgb(245, 203, 92);
  font-weight: 500;
}
.aboutContainer .aboutSkills {
  color: rgb(245, 203, 92);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
  margin-bottom: 55px;
}
.aboutContainer .aboutSkills .skillsContainer {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 570px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.aboutContainer .aboutSkills .skillsContainer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdf2d5;
  margin: 0;
  width: 11.1111111111%;
}
.aboutContainer .aboutSkills .skillsContainer p span {
  opacity: 0;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.aboutContainer .aboutSkills .skillsContainer p svg {
  margin: 20px 20px;
  font-size: 50px;
  transition: all 0.5s;
  color: rgb(245, 203, 92);
}
.aboutContainer .aboutSkills .skillsContainer p svg:hover {
  transform: scale(1.5);
}
.aboutContainer .aboutSkills .skillsContainer p svg:hover + span {
  opacity: 1;
}
.aboutContainer .aboutSkills .skillsContainer .hobbies svg {
  color: #fdf2d5;
}

.homeContainer {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: rgb(245, 203, 92);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homeContainer .title {
  padding-bottom: 100px;
}
.homeContainer h1 {
  position: relative;
  font-size: 90px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.homeContainer h1::before {
  content: "";
  position: absolute;
  display: block;
  top: 70%;
  right: -25%;
  transform: rotate(120deg);
  width: 140px;
  height: 4px;
  background-color: rgb(245, 203, 92);
}
.homeContainer h1::after {
  content: "";
  position: absolute;
  display: block;
  top: 70%;
  right: -20%;
  transform: rotate(120deg);
  width: 140px;
  height: 4px;
  background-color: rgb(245, 203, 92);
}
.homeContainer h2 {
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
}
.homeContainer .moreAboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}
.homeContainer .moreAboutMe p {
  opacity: 0;
  transition: all 0.5s;
}
.homeContainer .moreAboutMe svg {
  font-size: 70px;
  font-weight: 200;
  transition: all 0.5s;
  cursor: pointer;
}
.homeContainer .moreAboutMe svg:hover {
  transform: scale(1.4);
}
.homeContainer .moreAboutMe svg:hover + p {
  opacity: 1;
}

.projectsContainer {
  color: #fdf2d5;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsContainer h2 {
  text-align: center;
  color: rgb(245, 203, 92);
  font-weight: 400;
  font-size: 40px;
}
.projectsContainer .projectViewContainer {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsContainer .projectViewContainer button {
  background-color: transparent;
  border: none;
  color: #fdf2d5;
}
.projectsContainer .projectViewContainer svg {
  font-size: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
.projectsContainer .projectViewContainer svg:hover {
  transform: scale(1.4);
}
.projectsContainer .projectView {
  width: 70%;
  height: 100%;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectsContainer .projectView h3 {
  text-align: center;
}
.projectsContainer .projectView h4 {
  text-align: center;
}
.projectsContainer .inProgress {
  font-size: 14px;
  display: block;
}
.projectsContainer .singleProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}
.projectsContainer .singleProject .popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.projectsContainer .singleProject .popupContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 500px;
  width: 700px;
  background-color: rgb(36, 36, 35);
  border: 1px solid rgb(245, 203, 92);
}
.projectsContainer .singleProject .popupContent ol {
  overflow-y: auto;
}
.projectsContainer .singleProject .popupContent li {
  padding: 10px 0;
  line-height: 23px;
}
.projectsContainer .singleProject .popupContent button {
  text-transform: capitalize;
  margin: 10px 0;
  padding: 5px 20px;
  border: 1px solid #fdf2d5;
  cursor: pointer;
}
.projectsContainer .singleProject .popupContent button:hover {
  color: rgb(245, 203, 92);
}
.projectsContainer .singleProject .listOfChanges {
  color: rgb(245, 203, 92);
  cursor: pointer;
}
.projectsContainer .singleProject p {
  font-size: 19px;
  line-height: 25px;
}
.projectsContainer .singleProject p a {
  color: rgb(245, 203, 92);
  display: inline;
}
.projectsContainer .singleProject p a:hover {
  color: #fdf2d5;
}
.projectsContainer .singleProject h3 {
  font-size: 35px;
  font-weight: 300;
}
.projectsContainer .singleProject h4 span {
  color: rgb(245, 203, 92);
}
.projectsContainer a {
  text-decoration: none;
}
.projectsContainer .rechartsLink {
  color: rgb(245, 203, 92);
}
.projectsContainer .linkButtons {
  margin: 25px 0 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.projectsContainer .linkButtons button {
  animation: 0.2s borderAnim 0.3s 4;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid rgb(245, 203, 92);
}
.projectsContainer .linkButtons button:hover {
  background-color: #fdf2d5;
  color: rgb(36, 36, 35);
}
.projectsContainer .ashPika {
  position: absolute;
  width: 9%;
  max-width: 9%;
  bottom: 35px;
  right: 480px;
  animation: run 4s infinite linear;
}
.projectsContainer .wrenchGif {
  position: absolute;
  width: 9%;
  max-width: 150px;
  bottom: 65px;
}
.projectsContainer .writingGif {
  position: absolute;
  width: 9%;
  max-width: 150px;
  bottom: 65px;
}
.projectsContainer .weatherSunGif {
  position: absolute;
  width: 9%;
  max-width: 150px;
  bottom: 65px;
}
.projectsContainer .cerealGif {
  position: absolute;
  width: 9%;
  max-width: 150px;
  bottom: 65px;
}
.projectsContainer .podcastGif {
  position: absolute;
  width: 33%;
  max-width: 360px;
  bottom: 65px;
}

.navBar {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50px;
  bottom: 20px;
  background-color: transparent;
  color: rgb(245, 203, 92);
  max-width: 1100px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.navBar a {
  margin: 0 5px;
}
.navBar .leftNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  padding-top: 10px;
}
.navBar .leftNav svg {
  font-size: 20px;
}
.navBar .leftNav h3 {
  font-family: "Lobster", cursive;
  font-size: 30px;
  letter-spacing: 5px;
}
.navBar .middleNav {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(245, 203, 92);
  padding-top: 10px;
}
.navBar .middleNav a {
  color: rgb(245, 203, 92);
  padding: 0 20px;
  font-size: 16px;
  transition: all 0.5s;
}
.navBar .middleNav a:hover {
  background-color: transparent;
  color: white;
}
.navBar .rightNav {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}
.navBar .rightNav svg {
  font-size: 40px;
  color: rgb(245, 203, 92);
  transition: all 0.3s;
}
.navBar .rightNav svg:hover {
  transform: scale(1.5);
}
.navBar .emailNav {
  position: relative;
}
.navBar .emailInfo {
  border: 1px solid rgb(245, 203, 92);
  border-radius: 5px;
  padding: 2px 5px;
  position: absolute;
  top: -35px;
  right: 0;
}

@media (max-width: 1400px) {
  .projectsContainer .ashPika {
    bottom: 30px;
    width: 12%;
    max-width: 12%;
  }
}
@media (max-width: 1200px) {
  .projectsContainer .ashPika {
    bottom: 35px;
    width: 12%;
    max-width: 12%;
  }
}
@media (max-width: 1000px) {
  #root .wrapper {
    width: 95%;
  }
  .aboutContainer .aboutText p {
    font-size: 18px;
    line-height: 22px;
  }
  .aboutContainer .aboutSkills {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .aboutContainer .aboutSkills .skillsContainer {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  .aboutContainer .aboutSkills .skillsContainer p {
    margin: 0;
    width: 16.6666666667%;
    font-size: 16px;
  }
  .aboutContainer .aboutSkills .skillsContainer p svg {
    margin: 0 0 12px 0;
    font-size: 40px;
  }
  .projectsContainer .ashPika {
    bottom: 41px;
    width: 13%;
    max-width: 13%;
    animation: runSmall 4s infinite linear;
  }
  .projectsContainer .projectView {
    width: 75%;
  }
}
@media (max-width: 1000px) and (max-height: 620px) {
  .projectsContainer .projectViewContainer {
    width: 100%;
  }
  .projectsContainer .projectViewContainer p {
    line-height: 18px;
  }
}
@media (max-width: 800px) {
  #root .wrapper {
    width: 95%;
    max-height: none;
  }
  #root .smallerScreenSkills {
    display: flex;
    max-height: 320px;
    overflow-y: auto;
  }
  #root .smallerScreenSkills p {
    width: 22.2222222222%;
    text-align: center;
  }
  #root .smallerScreenSkills p:hover {
    transform: scale(1.2);
  }
  .homeContainer {
    align-items: flex-start;
    justify-content: center;
  }
  .homeContainer .title {
    width: 90%;
    padding-top: 80px;
  }
  .homeContainer h1 {
    font-size: 110px;
  }
  .homeContainer h1::after {
    display: none;
  }
  .homeContainer h1::before {
    display: none;
  }
  .navBar .leftNav {
    display: none;
  }
  .navBar .middleNav {
    width: 50%;
  }
  .aboutContainer {
    justify-content: space-evenly;
  }
  .aboutContainer .aboutTop {
    flex-direction: column;
    height: auto;
    margin-top: 100px;
  }
  .aboutContainer .aboutTop .aboutText {
    width: 100%;
  }
  .aboutContainer .aboutTop .aboutImage {
    min-width: 170px;
    display: none;
  }
  .aboutContainer .aboutSkills {
    justify-content: center;
    height: auto;
  }
  .aboutContainer .aboutSkills .skillsContainer {
    display: none;
  }
  .aboutContainer .aboutSkills .smallerScreenSkills {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .aboutContainer .aboutSkills .smallerScreenSkills p {
    border: 2px solid rgb(245, 203, 92);
    padding: 5px;
    margin: 10px 10px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .aboutContainer .aboutSkills .smallerScreenSkills p:hover {
    transform: scale(1.5);
  }
  .aboutContainer .aboutSkills .smallerScreenSkills .del {
    border-color: #fdf2d5;
  }
  .projectsContainer .ashPika {
    display: none;
  }
  .projectsContainer .wrenchGif {
    display: none;
  }
  .projectsContainer .podcastGif {
    display: none;
  }
  .projectsContainer .writingGif {
    display: none;
  }
  .projectsContainer .weatherSunGif {
    display: none;
  }
  .projectsContainer .cerealGif {
    display: none;
  }
  .projectsContainer .projectViewContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectsContainer .projectViewContainer .prev {
    position: absolute;
    left: 5%;
    bottom: 75%;
  }
  .projectsContainer .projectViewContainer .next {
    position: absolute;
    right: 5%;
    bottom: 75%;
  }
  .projectsContainer .projectViewContainer .singleProject p {
    font-size: 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectsContainer .projectViewContainer .singleProject p br {
    display: block;
    content: "";
    margin-top: 5px;
  }
  .projectsContainer .projectView {
    width: 90%;
  }
}
@media (max-height: 700px) {
  .aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutContainer .aboutSkills {
    display: none;
  }
  .skillHobbiesText {
    display: none;
  }
  .projectsContainer .projectView {
    width: 80%;
  }
}
@media (max-width: 540px) {
  #root .about {
    padding-top: 0;
  }
  #root .smallerScreenSkills p {
    width: 33.3333333333%;
  }
  .navBar {
    flex-direction: column;
    justify-content: space-between;
    bottom: 10px;
    height: 15%;
  }
  .navBar .middleNav {
    width: 90%;
  }
  .navBar .rightNav {
    width: 80%;
    justify-content: space-evenly;
  }
  .navBar .rightNav svg {
    font-size: 26px;
  }
  .homeContainer h1 {
    font-size: 80px;
  }
  .homeContainer h1::before,
  .homeContainer h1::after {
    display: none;
  }
  .aboutContainer {
    justify-content: center;
    align-items: flex-start;
  }
  .aboutContainer .aboutTop .aboutText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .aboutContainer .aboutTop .aboutText p {
    font-size: 16px;
    padding: 0 20px;
  }
  .aboutContainer .aboutTop .aboutText .skillHobbiesText {
    display: none;
  }
  .aboutContainer .aboutTop .aboutImage {
    display: none;
  }
  .aboutContainer .aboutSkills {
    justify-content: flex-start;
    align-items: center;
    height: 50%;
  }
  .aboutContainer .aboutSkills .smallerScreenSkills {
    margin-top: 5px;
    height: 70%;
  }
  .aboutContainer .aboutSkills .smallerScreenSkills p {
    margin: 5px 5px;
  }
  #root .projects {
    justify-content: center;
    padding-top: 0;
  }
  .projectsContainer {
    justify-content: center;
  }
  .projectsContainer h2 {
    display: none;
  }
  .projectsContainer .projectView {
    width: 100%;
    padding-bottom: 0;
    justify-content: center;
  }
  .projectsContainer .projectView .singleProject {
    justify-content: center;
    align-items: center;
    height: 95%;
  }
  .projectsContainer .projectView .singleProject h3 {
    font-size: 24px;
  }
  .projectsContainer .projectView .singleProject h4 {
    font-size: 14px;
    margin: 10px 0;
  }
  .projectsContainer .projectView .singleProject p {
    font-size: 16px;
    margin: 0;
    line-height: 18px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectsContainer .projectView .singleProject .linkButtons {
    margin: 15px 0;
  }
  .projectsContainer .projectViewContainer {
    justify-content: center;
    width: 100%;
  }
  .projectsContainer .projectViewContainer .prev {
    bottom: 75%;
    left: 0;
  }
  .projectsContainer .projectViewContainer .next {
    bottom: 75%;
    right: 0;
  }
}
@media (max-height: 600px) {
  .projectsContainer .projectView .singleProject p {
    display: none;
  }
  .projectsContainer .projectView {
    padding: 0;
  }
  .projectsContainer .projectViewContainer .next,
  .projectsContainer .projectViewContainer .prev {
    bottom: 130px;
  }
  .projectsContainer .projectView {
    justify-content: center;
  }
  .aboutContainer .aboutSkills {
    display: none;
  }
  .aboutContainer .aboutTop {
    height: 100%;
  }
  .homeContainer .title {
    padding: 0;
  }
  .navBar {
    justify-content: center;
    bottom: 20px;
  }
  .aboutContainer .aboutImage {
    display: none;
  }
  .aboutContainer .aboutTop {
    width: 100%;
  }
  .aboutContainer .aboutText {
    width: 100%;
  }
  .ashPika,
  .wrenchGif,
  .podcastGif,
  .writingGif,
  .weatherSunGif,
  .cerealGif {
    display: none;
  }
}
@media (max-height: 500px) and (max-width: 1000px) {
  .homeContainer h1 {
    font-size: 60px;
  }
  .homeContainer h1::before, .homeContainer h1::after {
    display: none;
  }
}
@media (max-width: 350px) {
  #root h1 {
    display: none;
  }
  #root .replaceMain {
    display: block;
    font-size: 120px;
  }
}
@media (max-width: 300px) {
  .aboutContainer .aboutSkills {
    display: none;
  }
  #root .aboutContainer {
    justify-content: center;
  }
}
@media (max-width: 600px) and (max-height: 700px) {
  .projectsContainer .projectView {
    width: 100%;
  }
}
@media (max-height: 750px) {
  .projectsContainer .projectView {
    width: 100%;
  }
  .projectsContainer .singleProject h3 {
    font-size: 28px;
  }
}

/*# sourceMappingURL=main.css.map */
